header {
  font-family: 'Open Sans', sans-serif; }
  header .navbar {
    background-color: white;
    border: none;
    padding: 0px 55px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px; }
    header .navbar a:hover {
      color: #3E4245; }
    header .navbar .navbar-brand > img {
      width: 100px; }
  header .container-fluid {
    background-image: url(../img/indexbanner.jpg);
    background-position: center center;
    background-size: 90%;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px; }
    header .container-fluid h2 {
      font-weight: 700;
      margin-bottom: 25px; }
    header .container-fluid p {
      font-weight: 300;
      font-size: 12px;
      line-height: 23px; }
  header .container form {
    text-align: center;
    position: relative;
    top: -25px; }
    header .container form input {
      height: 50px; }
    header .container form .completar {
      width: 46%;
      padding-left: 12px; }
    header .container form .search {
      width: 8%;
      text-transform: uppercase;
      color: white;
      background-color: #00ADF2;
      font-size: 11px;
      letter-spacing: 2px;
      font-weight: 700;
      border: none; }

.primera {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 30px; }
  .primera article {
    padding: 0px; }
    .primera article img {
      width: 70px; }
    .primera article h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px; }
    .primera article p {
      font-size: 12px; }
  .primera .puntos {
    text-align: center;
    padding-top: 70px; }
    .primera .puntos img {
      transform: rotate(90deg);
      width: 4px; }

.segunda {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 50px; }
  .segunda .titulo {
    padding-bottom: 15px; }
    .segunda .titulo h2 {
      font-weight: 700; }
    .segunda .titulo p {
      font-size: 12px; }
  .segunda .columnauno {
    text-align: right;
    padding-top: 50px; }
    .segunda .columnauno .row {
      padding-bottom: 20px; }
      .segunda .columnauno .row h4 {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700; }
      .segunda .columnauno .row p {
        font-size: 11px; }
      .segunda .columnauno .row img {
        width: 40px; }
  .segunda .columnados {
    text-align: left;
    padding-top: 50px; }
    .segunda .columnados .row {
      padding-bottom: 20px; }
      .segunda .columnados .row h4 {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700; }
      .segunda .columnados .row p {
        font-size: 11px; }
      .segunda .columnados .row img {
        width: 40px; }
  .segunda .iphone {
    position: relative;
    top: 35px; }

.tercera {
  text-align: center;
  background-image: url(../img/pricing-bg.jpg);
  padding-top: 100px;
  font-family: "Open Sans", sans-serif;
  height: 450px; }
  .tercera .titulo h2 {
    font-weight: 700; }
  .tercera .titulo p {
    font-size: 12px; }
  .tercera .tablas {
    position: relative;
    top: 100px; }
    .tercera .tablas article {
      background-color: white;
      border: 1px solid #BDBDBD; }
      .tercera .tablas article header {
        margin-top: 50px; }
        .tercera .tablas article header h4 {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: bolder; }
        .tercera .tablas article header span {
          font-size: 28px;
          font-weight: 700;
          padding: 20px 0px 5px 0px; }
        .tercera .tablas article header span:before {
          content: '$'; }
        .tercera .tablas article header span:after {
          content: '.99'; }
        .tercera .tablas article header span:before, .tercera .tablas article header span:after {
          font-size: 15px;
          position: relative;
          top: -8px; }
        .tercera .tablas article header p {
          font-size: 10px; }
      .tercera .tablas article div {
        display: inline-block;
        padding: 10px 0px 15px 0px;
        line-height: 25px; }
        .tercera .tablas article div .tda {
          font-size: 10px;
          text-align: left;
          padding-right: 16px; }
        .tercera .tablas article div .tdb {
          font-size: 10px;
          text-align: right;
          font-weight: bold; }
        .tercera .tablas article div .cyan {
          color: #31C6DE; }
        .tercera .tablas article div .orange {
          color: #DE8010; }
        .tercera .tablas article div .red {
          color: #DE3900; }
        .tercera .tablas article div .redd {
          color: #B50E00; }
      .tercera .tablas article form {
        margin-bottom: 30px; }
        .tercera .tablas article form input {
          color: white;
          background-color: #4297cc;
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: 9px;
          font-weight: 600;
          letter-spacing: 1px;
          border-style: none;
          border-radius: 3px; }

footer {
  font-family: "Open Sans", sans-serif; }
  footer .A {
    background-color: #64666e;
    margin-top: 300px;
    text-align: center; }
    footer .A article {
      margin-top: 50px;
      margin-bottom: 58px; }
      footer .A article h5 {
        color: white;
        font-size: 24px;
        font-weight: lighter; }
        footer .A article h5 span {
          color: #31C6DE;
          font-size: 32px;
          font-weight: bold;
          margin-left: 13px;
          margin-right: 13px; }
  footer .B {
    background-color: #36373d;
    color: white;
    padding-top: 15px; }
    footer .B .navbar {
      background: none;
      border: none;
      padding: 0px 55px; }
      footer .B .navbar p {
        padding: 15px;
        font-size: 11px; }
      footer .B .navbar a {
        color: white;
        font-size: 12px;
        padding-left: 2px; }
      footer .B .navbar a:hover {
        color: #31C6DE; }

/*# sourceMappingURL=style.css.map */
